:root {
  --main-color: rgb(219, 36, 36);
  --hover-color: #108308;
  --text-color: #ffffff;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.header {
  background-image: url(/img/Group\ 4.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.img__logo {
  width: 60px;
  height: auto; 
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding-top: 20px;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: "Cormorant", serif;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-left: 200px;
  font-weight: 700;
  font-size: 20px;
  line-height: 107%;
  font-family: "Roboto", sans-serif;
}

.menu__item {
  background-color: rgba(var(--main-color), 0.5);
  border: 1px solid var(--text-color);
  border-radius: 30px;
  padding:  5px 20px;
}

.menu__item::content {
  color: red;
}

.menu__item:hover {
  background-color: #108308;
  transition: 0.4s;
}

.header__title {
  padding-top: 100px;
  line-height: 200%;
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
}

.title {
  color: red;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

.top__inner {
  align-items: center;
  max-width: 640px;
  padding-top: 116px;
}

.photos__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.photos__stone-сity {
  padding-top: 230px;
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.img__main {
  padding-top: 160px;
  width: 736px;
  height: auto;
}

.paragraph {
  font-size: 40px;
  text-align: center;
}

.footer__title {
  color: #ffffff;
  font-size: 30px;
  padding-top: 86px;
  text-align: center;
  font-weight: 400; 
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 73px;
}

.footer__section {
  height: 401px;
  background-color: rgb(154, 138, 138);
}

.img__footer {
  width: 60px;
}

/* Медиазапросы для адаптивного дизайна */
@media (max-width: 1000px) { 
  
  .header__title {
    font-size: 40px;
    padding-left: 160px;
    padding-top: 10px;
  }
  .logo {
    padding-left: 50px;
  }
  .menu__list {
    padding-left: 10px;
  }
  .search__item {
    padding-right: 50px;
  }
}

@media (max-width: 994px) {
  .header__title {
    font-size: 30px;
    padding-left: 160px;
    padding-top: 10px;
  }
  .logo{
    padding-left: 50px;
  }
  .menu__list{
    padding-left: 10px;
  }
  .search__item{
    padding-right: 50px;
  }
  .title {
    font-size: 30px;
  }

  .img__main {
    width: 100%;
  }
}
@media (max-width: 662px) {
  h1{
    font-size: 50px;
  }
  .paragraph {
    font-size: 20px;
  }
  .menu__list {
    flex-direction: column;
    padding-left: 0;
    gap: 10px
  }
  .photos__inner{
    flex-direction: column;
  }
  .top__inner {
    padding-top: 50px;
  }
  .photos__stone-сity{
    padding-top: 50px;
    
  }
}

